
body {
    background-image: url(../02-CSS-and-Bootstrap-Homework/assets/Images/wheat.png);
}

.row {
    background-color: #4d6c8c;
    margin-top: 80px;
}

#dmoney {
    height: 300px;
    width: 300px;
}

.footer {
    height: 60px;
    width: 100;
    background-color: #1b1717;
    border-top: 20px solid #9a876d;
    margin-top: 15%;
    bottom: 0%;


}

p {
    
    font-family: 'Times New Roman', Times, serif;}

.box {
    border: solid #9a876d;
    height: 500px;
    width: 384px;
    /* position: absolute; */
    left: 334px;
    top: 83px;
    margin: 24px auto;
    background-color: #4d6c8c;
    margin-left: 384px; }

.space {
    border: solid gray;
    height: 100px;
    width: 100px;
    position: relative;
    background-image: url(../02-CSS-and-Bootstrap-Homework/assets/Images/hubble-space-photos-feat-1-620x350.jpg);
    
}

.dime {
    position: absolute;
    bottom: 0%;
    border-bottom: 30px solid #9a876d;
    width: 95px;
    
}

.dragon {
    border: solid gray;
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: 270px;
    background-image: url(../02-CSS-and-Bootstrap-Homework/assets/Images/download-1.jpg);
}

.becker {
    position: absolute;
    bottom: 0%;
    border-bottom: 30px solid #9a876d;
    width: 95px;
}

.machaine {
    border: solid gray;
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: 28px;
    background-image: url(../02-CSS-and-Bootstrap-Homework/assets/Images/download.jpg);
}

.al {
    position: absolute;
    bottom: 0%;
    border-bottom: 30px solid #9a876d;
    width: 95px;
}

.keene {
    border: solid gray;
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: 28px;
    background-image: url(../02-CSS-and-Bootstrap-Homework/assets/Images/the_red_sea.jpg);
}

.faceless {
    position: absolute;
    bottom: 0%;
    border-bottom: 30px solid #9a876d;
    width: 95px;
}

.yngwie {
    border: solid gray;
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: 270px;
    margin-top: -228px;
    background-image: url(../02-CSS-and-Bootstrap-Homework/assets/Images/iuWB2NM48R2r9q7QhyJfhe-320-80.jpg);
}

.blackstar {
    position: absolute;
    bottom: 0%;
    border-bottom: 30px solid #9a876d;
    width: 95px;
}

.middle {
    background-color: #4d6c8c;
    width: 560px;
    margin-top: 80px;

}


h1 {
    border-bottom: solid #9a876d;

}

h2 {
    border-bottom: solid #9a876d;
    width: 524px;


}


h3 {
    border-bottom: solid #9a876d;
    width: 380px;
}

.leggato {
    position: absolute;
    margin-top: 4px;
    color:white;
}

.sweeping {
    position: absolute;
    margin-top: 4px;
    color:white;
}

.alt {
    position: absolute;
    margin-top: 4px;
    color:white;
}

.tapping {
    position: absolute;
    margin-top: 4px;
    color:white;
}

.eco {
    position: absolute;
    margin-top: 4px;
    color:white;
}


